/*If have internet
/*@import url("http://fonts.googleapis.com/css?family=Roboto");

/* Slide Titles */
h1 {
    color: blue;
    margin-top: 100px;
    text-align: center;
    padding-top: 100;
}

section{
  margin-top: 100px;
  padding-top: 100px; 
}

div.slide{
  margin-top: 20px;
}

p {
    margin-bottom: 50px;
}

body
{
  color: black;
  background-color: #4285F4;
  background-color: #E6EEFF;
  /*font-family: 'Roboto', sans-serif;*/
}

#nextsteps {
   color: blue;
}

.emphasized {
   font-size: 1.2em;
}
.co {
   font-size: 1.0em; ! make comment bigger
}
.kw {
   font-size: 1.0em; ! make variable and function names bigger
}



html {
  height: 100%;
  box-sizing: border-box;
}

a:link {
    color: #4fc3f7;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}
